.imgArea{
    width:380px;
	height:auto;
	max-width:100%;
}
.bounding-boxes {
	position: relative;
	margin: auto;
}
.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}

#faceImg{max-width:100%; max-height:100%}